body {
    background-color: white;
    color: gray;
}

#color {
    background-color: pink;
}

#content {
    margin-left: auto;
    margin-right: auto;
}

main,
nav,
footer {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

footer {
    clear: left;
    font-size: 1em;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: 2px purple solid;
    font-size: 2em;
    transition: .9s;
}

.active {
    color: pink;
}

#me {
    float: left;
    margin-left:50px;
}

#welcomeText {
    text-align: left;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3 em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}


ul {
    text-align: left;
    padding-left: 200px;
    margin-left: 100px;
}

.hobby {
    color: pink;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}


#square {
    margin-top: 230px;
    margin-left: 20px;
    width: 600px;
    height: 10px;
    background: pink;
    position: relative;
}

