main,body {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width:1000px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    width:50%;
    color: white;
    text-align: left;
    padding-left:70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width:50%;
    text-align: left;
    color:red;
}

#promo {
    font-size:3em;
    color: white;
}

#myBtn {
    /*position:absolute;*/
    background-color: #FADAEE;
    border:none;
    outline:none;
    color: white;
    cursor:pointer;
    font-size: 2.3em;
    font-weight:bold;
    /*left:335px;*/
    /*top:380px;*/
    float: inherit;
    margin-bottom: 30px;
    margin-left: 30px;
}

#boots {
    float:left;
    text-align: center;
    left:150px;
    top:350px;
}

.pics {
    text-align: left;
}

#text {
    font-size: 3em;
    text-align: center;
    color: white;
}

#message {
    text-align: left;
    font-size: 2em;
    color: white;
}

#giveaway {
    color: white;
    font-size: 2em;
}

#mainpage {
    padding: 20px; 
    height: 900px;
    text-align: center;
    margin: 0 auto;
    background-color: #95b8e3;
}

#infoForm {
    text-align: left;
    height: 500px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#nameSize {
    font-size: 1.5em;    
    text-align: left;
}

#input {
    color:black;   
    font-size: 1.3em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.error {
    color: #FF0000;
}


#thanku {
    font-family: 'Montserrat', sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}